.button-group {
  display: flex;
  justify-content: space-around;
  width: 600px;
  margin-top: 30px;
}
.sub-button {
  padding: 10px 40px;
  border: 2px solid #000;
  border-radius: 20px;
  background: #fff;
  font-size: 1.2rem;
  cursor: pointer;
}
