.view-text {
  font-size: 1.2rem;
  padding: 10px 0;
  border-bottom: 2px solid #000;
  min-height: 1.5rem;
}
h1 {
  font-size: 3rem;
  text-align: center;
  margin-top: 50px;
}

h1 {
  text-align: center;
  width: 100%;
}

.view-text {
  font-size: 1.2rem;
  padding: 10px 0;
  border-bottom: 2px solid #000;
  min-height: 1.5rem;
  word-break: break-all; /* 長いIDが枠を突き抜けないように */
}
